<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Producto</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/favicon.png" type="image/x-icon">
    <script src="script.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
  <header>
    <h1 class="logo-gp">Green-Power</h1>
    <h2 class="logo-gp">Energía solar para un futuro brillante</h2>  
</header>
<span class="nav-bar" id="btnMenu"><i class="fa fa-bars"></i> Menú </span>
<nav class="main-nav">
    <ul class="menu" id="menu">
        <li class="menu__item"><a href="../index.html" class="menu__link">Inicio</a></li>
        <li class="menu__item"><a href="quienes_somos.html" class="menu__link">Quienes Somos</a></li>
        <li class="menu__item container-submenu">
            <a href="#" class="menu__link submenu-btn">Productos <i class="fa-solid fa-chevron-down fa-xs"></i></a>
            <ul class="submenu">
            <li class="menu__item"><a href="productos-001.html" class="menu__link">Termotanques Solares</a></li>
            <li class="menu__item"><a href="productos-002.html" class="menu__link">Generadores Fotovoltáicos    </a></li>
            <li class="menu__item"><a href="productos-003.html" class="menu__link">Generadores Eólicos   </a></li>           
        </ul>

        </li>
        <li class="menu__item"><a href="preguntas.html" class="menu__link">Preguntas frecuentes</a></li>
        <li class="menu__item"><a href="blog_noticias.html" class="menu__link">Noticias</a></li>
        <li class="menu__item"><a href="registro.html" class="menu__link">Contacto</a></li>
        <li class="menu__item container-submenu">
            <a href="#" class="menu__link submenu-btn">Catálogo<i class="fa-solid fa-chevron-down fa-xs"></i></a>
            <ul class="submenu">
                <li class="menu__item"><a href="productos.html" class="menu__link">Ver catálogo</a></li>
                <li class="menu__item"><a href="producto_nuevo.html" class="menu__link">Dar de alta un producto</a></li>
            </ul>
        </li>    </ul>
</nav>
<script src="../scripts/script.js"></script>
  <form style="background-color: #eae9e9 ;margin:10px auto ; width: 400px; padding: 20px">
  <main>
<!-- <div class="container" id="app"> -->
  <div class="container-a" id="app">
  <!-- <h2>Editar Producto </h2> -->
  <h2 class="editar-producto">Editar Producto </h2>
      <div class="mb-3">
        <label for="id">Id</label>
        <input type="number" name="id" id="id" disabled v-model="id" >
      </div>
      <div class="mb-3">
        <label for="tipo_producto">Tipo Producto</label>
        <input type="text" name="tipo_producto" id="tipo_producto" v-model="tipo_producto">
      </div>
      <div class="mb-3">
        <label for="modelo">Modelo</label>
        <input type="text" name="modelo" id="modelo" v-model="modelo">
      </div>
      <div class="mb-3">
        <label for="descripcion">Descripción</label>
        <input type="text" name="descripcion" id="descripcion" v-model="descripcion">
      </div>
      <div class="mb-3">
        <label for="proveedor">Proveedor</label>
        <input type="text" name="proveedor" id="proveedor" v-model="proveedor">
      </div>
      <div class="mb-3">
        <label for="precio">Precio</label>
        <input type="number" name="precio" id="precio" v-model="precio">
      </div>
      <div class="mb-3">
        <label for="imagen">Imagen</label>
        <input type="text" name="imagen" id="imagen" v-model="imagen">
        <img width="100"   :src="imagen" alt="">
</div>
<!-- <button type="button" class="btn btn-primary" v-on:click="modificar()">Grabar</button>  -->
<a class="btn" v-on:click="modificar()">Actualizar</a>
</form>
</div>
</main>
<footer>
  <div class="fila">
      <div class="col">
          <h2>
              <a class="aaa" href="mailto:green-power@gmx.es" target="_blank"><i class="fa-solid fa-envelope"></i> Correo</a>
          </h2>
      </div>
      <div class="col">
          <h2>
              <a class="aaa" href="https://green-power-theta.vercel.app/" target="_blank"><i class="fa-solid fa-globe"></i> Página Web</a>
          </h2>
      </div>
      <div class="col">
          <h2>
              <a><i class="fa-solid fa-phone"></i> Teléfono </a>
              <br>
          </h2>
          <span class="info-contacto">222 - 2233445</span>
      </div>
      <div class="col">
          <h2>
              <a class="aaa" href="https://wa.me/+542914612936?text=Déjenos su mensaje y nos comunicaremos a la brevedad " target="_blank"><i class="fa-brands fa-whatsapp"></i> Whatsapp</a>
          </h2>
      </div>
      <div class="col">
          <h2>
              <a class="aaa" href="https://www.instagram.com/greenpowercac/" target="_blank"><i class="fa-brands fa-instagram"></i> Instagram</a>
          </h2>
      </div>
  </div>
</footer>
<!-- <footer>
        <div class="fila">
            <div class="col">
                <h2>
                    <a class="aaa" href="mailto:green-power@gmx.es" target="_blank"><i class="fa-solid fa-envelope"></i> Correo</a>
                </h2>
            </div>
            <div class="col">
                <h2>
                    <a class="aaa" href="https://green-power-theta.vercel.app/" target="_blank"><i class="fa-solid fa-globe"></i> Página Web</a>
                </h2>
            </div>
            <div class="col">
                <h2>
                    <a><i class="fa-solid fa-phone"></i> Teléfono </a>
                    <br>
                </h2>
                <span class="info-contacto">222 - 2233445</span>
            </div>
            <div class="col">
                <h2>
                    <a class="aaa" href="https://wa.me/+542914612936?text=Déjenos su mensaje y nos comunicaremos a la brevedad " target="_blank"><i class="fa-brands fa-whatsapp"></i> Whatsapp</a>
                </h2>
            </div>
            <div class="col">
                <h2>
                    <a class="aaa" href="https://www.instagram.com/greenpowercac/" target="_blank"><i class="fa-brands fa-instagram"></i> Instagram</a>
                </h2>
            </div>
        </div>
    </footer> -->
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
crossorigin="anonymous"> </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
crossorigin="anonymous"> </script>
<script src="../js/main.js"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="../js/producto_editar.js"></script>
</body>
</html>